$regular-font: "Roboto-Regular";
$bold-font: "Roboto-Bold";
$light-font: "Roboto-Light";
$medium-font: "Roboto-Medium";
$primary-green: #30b98d;
$grey: #9e9e9e;
$cyan: #00bcd4;
$cubic-out: cubic-bezier(.32,2.04,.85,.54);
$cubic-in: cubic-bezier(.72,1.2,.71,.72);
