/* You can add global styles to this file, and also import other style files */
@import './reset';
@import './fonts';
@import './variables';
@import './mixins';

body {
  font-family: $regular-font;
  font-size: 16px;
}

.container {
  max-width: 1100px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include tablets-min {
      margin: 0;
  }
}
