<div class="page-wrapper">
  <div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login">
      <fa-icon [icon]="faCommentDots" class="login__icon"></fa-icon>
      <h3>Sign in</h3>
      <div class="login__subheader">Welcome to ChatApp! Please login to your account.</div>
        <div class="field">
          <label class="field__label">
            Username
            <span>*</span>
          </label>
          <div class="field__input-wr">
            <input
              type="text"
              class="
              field__input
              field__input--border
              field__input--error"
              formControlName="username"
              [class.field__input--error]="loginForm.controls['username'].invalid && loginForm.controls['username'].touched"
            >
            <fa-icon
              [icon]="faExclamationCircle"
              class="field__icon field__icon--error"
              *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched"
            ></fa-icon>
            <fa-icon
              [icon]="faCheckCircle"
              class="field__icon field__icon--success"
              *ngIf="loginForm.controls['username'].valid && loginForm.controls['username'].touched"
            ></fa-icon>
            </div>
          <div
            class="field__error-text"
            *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched"
          >
            Required
          </div>
        </div>
        <div class="field">
          <label class="field__label">
            Password
            <span>*</span>
          </label>
          <div class="field__input-wr">
            <input
              type="password"
              class="
              field__input
              field__input--border"
              formControlName="password"
              [class.field__input--error]="loginForm.controls['password'].invalid && loginForm.controls['password'].touched"
            >
            <fa-icon
              [icon]="faExclamationCircle"
              class="field__icon field__icon--error"
              *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched"
            ></fa-icon>
            <fa-icon
              [icon]="faCheckCircle"
              class="field__icon field__icon--success"
              *ngIf="loginForm.controls['password'].valid && loginForm.controls['password'].touched"
            ></fa-icon>
          </div>
          <div
            class="field__error-text"
            *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched"
          >
            Required
          </div>
        </div>
        <div class="space-between mb-20">
          <label class="check">
            <input type="checkbox" class="visually-hidden" tabindex="0">
            <div class="check__box"></div>
            Remember me
          </label>
          <a class="login__reset-link" routerLink="/auth/reset-password">Forgot password</a>
        </div>
        <div class="banner banner--error mb-20" *ngIf="loginError">
          <div class="banner__icon">
            <fa-icon
              [icon]="faExclamationCircle"
              class="banner__icon--error"
            ></fa-icon>
          </div>
          <div class="banner__message">
            {{ loginError }}
          </div>
        </div>

        <button type="submit" class="btn btn--primary btn--full-width mb-20" [disabled]="!loginForm.valid">
          <fa-icon [icon]="faUser" class="btn__icon" *ngIf="!loading"></fa-icon>
          <div class="loader loader--button" *ngIf="loading"></div>
          Login
        </button>
        <div class="login__signup-link">
          Don't have an account yet?
          <a routerLink="/auth/register">Signup Now</a>
        </div>
    </form>
  </div>
</div>
